    .main {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    .button {
      width: 60px;
      height: 60px;
      font-size: 30px;
      margin: 2px;
      border-radius: 10px;
      background-color: #ff4130;
      color: white;
      box-shadow: 0px 0px 6px 0px rgb(0, 0, 0, 1);
    }

    .button:hover {
      background-color: #ff5442;
    }

    .screen {
      width: 250px;
      margin: 2px;
      font-size: 30px;
      padding: 5px;
      background-color: #ff4130;
      color: white;
    }

    #zero-btn {
      width: 128px;
    }

    #equal-btn {
      height: 128px;
    }

    body {
      background: linear-gradient(to right, #40ffc5, #ff3cb9);
    }

    form {
      margin-left: 3px;
    }